main {
    position: relative;
    top: 100px;
    
    background-color: #fefefe;

    padding: 20px;
    margin-left: 14%;
    
    border-radius: 10px;
    transition: margin-left 0.3s;
    font-family: "Lato", sans-serif;

    width: 70%;
    height: auto;
}

main input {
    background-color: #C4C4C4;

    font-family: 'Lato', sans-serif;
    font-size: 15px;

    border: none;
    border-radius: 10px;

    padding-left: 20px;
    margin-bottom: 40px;

    height: 35px;
    width: 90%;
}

main #embarcadora input, #transportadora input, #autonomo input, #anunciante input::placeholder {
    text-align: center;
    border: none;
    color: grey;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}

#embarcadora {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#transportadora {
    display: none;
    align-items: center;
    flex-direction: column;
}

#cad-transportadora {
    display: none;
}

#autonomo {
    display: none;
    align-items: center;
    flex-direction: column;
}

#cad-autonomo {
    display: none;
}

#anunciante {
    display: none;
    align-items: center;
    flex-direction: column;
}

#cad-anunciante {
    display: none;
}

input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.info-conteudo {
    margin-top: 15px;
    width: 90%;
    border-bottom: 3px solid #808080;
}

.info-conteudo h2 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
}

.info-conteudo p {
    margin-bottom: 5px;
}

.caixa-topo {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 900;

    display: flex;
    align-items: center;

    margin: 20px 20px;
}

.caixa-topo h2 {
    font-size: 20px;
    color: grey;
    align-items: flex-end;

    margin-left: 200px;
    cursor: pointer;
}