main {
    position: relative;
    top: 100px;
    
    background-color: #fefefe;

    padding: 20px;
    margin-left: 14%;
    
    border-radius: 10px;
    transition: margin-left 0.3s;
    font-family: "Lato", sans-serif;

    width: 70%;
    height: auto;
}

main h1 {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 900;
}

main input {
    background-color: #C4C4C4;

    font-family: 'Lato', sans-serif;
    font-size: 15px;

    border: none;
    border-radius: 10px;

    padding-left: 20px;
    margin-bottom: 40px;

    height: 35px;
    width: 90%;
}

.info-conteudo {
    margin-top: 15px;
    width: 90%;
    border-bottom: 3px solid #808080;
}

.info-conteudo h4 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
}

.info-conteudo p {
    margin-bottom: 5px;
}

.caixa-topo {
    display: flex;
    align-items: center;

    margin: 20px 20px;
}

.caixa-topo h2 {
    font-size: 20px;
    color: grey;
    align-items: flex-end;

    margin-left: 200px;
    cursor: pointer;
}

#sinistros {
    display: flex;
    flex-direction: column;
    align-items: center;
}